{% extends 'base.html' %}
{% block content %}

<h1 style="color: rgb(190, 240, 8);text-align: center;">THE BEST BLOG</h1>
<hr>
<form method="post" enctype='multipart/form-data'>
    {% csrf_token %}
    <label>title</label><br>
    <input type="text" name="title"><br><br>
    <label>context</label><br>
    <textarea type="text" name="con"></textarea><br><br>

    <select name="cate">
        {% for c in cat %}
        <option value="{{c.0}}">{{c.1}}</option>
        {% endfor %}
    </select><br><br>
    
    <label>image</label><br>
    <input type="file" name="image" accept="image/*"><br><br>
    <input type="submit" value="create">

</form>
{% endblock %}

{% for message in messages %}
{% if message.tags == "error" %}
<span style="color:red">{{message}}</span>
{% elif message.tags == "success" %}
<span style="color:green">{{message}}</span>
{% else %}
<span style="color:blue">{{message}}</span>
{% endif %}
{% endfor %}